In [9]:
import numpy as np
import pandas as pd
import os

file_path="E:\\554 PROJECT2\SECOND_ETF_DATA"
files=os.listdir(file_path)
# dataname=files.split(".")[0]
# data=pd.read_csv('D:/CSV/CLOSEPRICE.csv')
# data
name=[]
for i in files:
    # print(i.split(".")[0])
    name.append(i.split(".")[0])

high=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[0]+".csv")
low=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[1]+".csv")
open=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[2]+".csv")
tradevolume=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[3]+".csv")
volume=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[4]+".csv")
close=pd.read_csv("E://554 PROJECT2/SECOND_ETF_DATA/"+name[5]+".csv")

len(volume.columns)
volume.columns
name

['HIGHPRICE', 'LOWPRICE', 'OPENPRICE', 'TRADEVOLUME', 'VOLUME', 'CLOSEPRICE']

In [10]:
com_name=close.columns.to_list()
for i in range(28):
    save_data=close[[com_name[2*i],com_name[2*i+1]]]
    save_data["high"]=high[[com_name[2*i+1]]]
    save_data["low"]=low[[com_name[2*i+1]]]
    save_data["open"]=open[[com_name[2*i+1]]]
    save_data["amount"]=tradevolume[[com_name[2*i+1]]]
    save_data["volume"]=volume[[com_name[2*i+1]]]
    save_data=save_data.rename(columns={com_name[2*i+1]:"close"})
    save_data=save_data.rename(columns={com_name[2*i]:"date"})
    save_data.to_csv("D://company/"+com_name[2*i]+".csv",sep=",",index=False,header=True)

# for i in range(54)
# save_data_high

# save_data=pd.concat([save_data_close,save_data_high],axis=1)
# save_data

c:\Users\yggdrasilyuan\AppData\Local\conda\conda\envs\practicum\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\yggdrasilyuan\AppData\Local\conda\conda\envs\practicum\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\Users\yggdrasilyuan\AppData\Local\conda\conda\envs\practicum\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\yggdrasilyuan\AppData\Local\conda\conda\envs\practicum\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\Users\yggdrasilyuan\AppData\Local\conda\conda\envs\practicum\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
save_data=save_data.rename(columns={"Unnamed: 1":"close"})
save_data

            date   close     high      low     open      amount   volume
0       1/4/2010  105.90  105.900  103.400  103.500   2071512.0    19709
1       1/5/2010  110.40  110.400  106.000  106.100  12840240.0   117338
2       1/6/2010  110.30  112.000  110.100  110.600  12468880.0   112505
3       1/7/2010  110.80  111.900  109.800  111.000   6279717.0    56539
4       1/8/2010  112.80  113.400  111.375  111.600   5143603.0    45753
...          ...     ...      ...      ...      ...         ...      ...
3267  12/23/2022   74.86   76.199   74.200   76.199  37403510.0   499336
3268  12/27/2022   73.08   75.590   73.020   75.590  79032940.0  1072764
3269  12/28/2022   71.83   73.740   71.750   73.360  63953460.0   884883
3270  12/29/2022   73.08   73.905   72.340   72.530  41386040.0   564935
3271  12/30/2022   72.94   73.080   71.860   72.230  34712900.0   478862

[3272 rows x 7 columns]